src/ArtFactory.Proofer.XmPie/Connected Services/Job/Job_SSP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="XMPieWSAPI" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="XMPieWSAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Job Web Service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="XMPieWSAPI">
      <s:element name="GetFolderPath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFolderPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFolderPathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutputResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutputResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOutputResultsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddFileToOutputResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inFilePath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inDeleteSource" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="inDeleteEmptySourceFolder" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="inProps" type="tns:ArrayOfProperty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProperty">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Property" type="tns:Property" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Property">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddFileToOutputResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddFileToOutputResultsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFilesToOutputResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inSourceFolder" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inDeleteSource" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="inProps" type="tns:ArrayOfProperty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFilesToOutputResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddFilesToOutputResultsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteOutputResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteOutputResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteOutputResultsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutputResultsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutputResultsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOutputResultsInfoResult" type="tns:ArrayOfOutputResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOutputResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OutputResult" type="tns:OutputResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OutputResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_FilePath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_SizeKB" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="m_ModifDateStr" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOutputResultBinaryFileStream">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inResultIndex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutputResultBinaryFileStreamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOutputResultBinaryFileStreamResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutputResultBinaryFileStreamChunk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inResultIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="inOffset" type="s:unsignedInt" />
            <s:element minOccurs="1" maxOccurs="1" name="inoutCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutputResultBinaryFileStreamChunkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOutputResultBinaryFileStreamChunkResult" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="inoutCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutputResultBinaryFileStreamSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inResultIndex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutputResultBinaryFileStreamSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetOutputResultBinaryFileStreamSizeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutputResultDownloadURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inResultIndex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="inMimeType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inIsInline" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="inMacTypeHex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inMacCreatorHex" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inReturnInternalURL" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutputResultDownloadURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOutputResultDownloadURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProperty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPropertyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPropertyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPropertyResult" type="tns:Property" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProperties">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPropertiesNames" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPropertiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPropertiesResult" type="tns:ArrayOfProperty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProperties">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPropertiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPropertiesResult" type="tns:ArrayOfProperty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXMPTblDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXMPTblDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetXMPTblDataSetResult" type="tns:XMPTblDataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="XMPTblDataSet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_Tables" type="tns:ArrayOfXMPTbl" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfXMPTbl">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="XMPTbl" type="tns:XMPTbl" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="XMPTbl">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_TableName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_ColumnNameArray" type="tns:ArrayOfXMPTblColumn" />
          <s:element minOccurs="0" maxOccurs="1" name="m_RowArray" type="tns:ArrayOfXMPTblRow" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfXMPTblColumn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="XMPTblColumn" type="tns:XMPTblColumn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="XMPTblColumn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_ColumnName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_ColumnType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfXMPTblRow">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="XMPTblRow" type="tns:XMPTblRow" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="XMPTblRow">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_Fields" type="tns:ArrayOfXMPRowField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfXMPRowField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="XMPRowField" type="tns:XMPRowField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="XMPRowField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_FieldValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetProperty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inProp" type="tns:Property" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPropertyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetPropertyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetProperties">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inProps" type="tns:ArrayOfProperty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPropertiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetPropertiesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Abort">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AbortResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AbortResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReQueue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inProps" type="tns:ArrayOfProperty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReQueueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReQueueResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetProgressStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inProgressMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inProgressProps" type="tns:ArrayOfProperty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetProgressStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetProgressStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTicketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessagesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessagesDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesXMPTblDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesXMPTblDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMessagesXMPTblDataSetResult" type="tns:XMPTblDataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMessagesNumResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesHighestSeverity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesHighestSeverityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMessagesHighestSeverityResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteMessagesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCampaignShortcutInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCampaignShortcutInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCampaignShortcutInfoResult" type="tns:CampaignShortcutInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CampaignShortcutInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_AccountID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_AccountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_CampaignID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_CampaignName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTouchPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTouchPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTouchPointResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTouchPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inTouchPointID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTouchPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetTouchPointResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inJobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFolderPathSoapIn">
    <wsdl:part name="parameters" element="tns:GetFolderPath" />
  </wsdl:message>
  <wsdl:message name="GetFolderPathSoapOut">
    <wsdl:part name="parameters" element="tns:GetFolderPathResponse" />
  </wsdl:message>
  <wsdl:message name="GetOutputResultsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOutputResults" />
  </wsdl:message>
  <wsdl:message name="GetOutputResultsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOutputResultsResponse" />
  </wsdl:message>
  <wsdl:message name="AddFileToOutputResultsSoapIn">
    <wsdl:part name="parameters" element="tns:AddFileToOutputResults" />
  </wsdl:message>
  <wsdl:message name="AddFileToOutputResultsSoapOut">
    <wsdl:part name="parameters" element="tns:AddFileToOutputResultsResponse" />
  </wsdl:message>
  <wsdl:message name="AddFilesToOutputResultsSoapIn">
    <wsdl:part name="parameters" element="tns:AddFilesToOutputResults" />
  </wsdl:message>
  <wsdl:message name="AddFilesToOutputResultsSoapOut">
    <wsdl:part name="parameters" element="tns:AddFilesToOutputResultsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteOutputResultsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteOutputResults" />
  </wsdl:message>
  <wsdl:message name="DeleteOutputResultsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteOutputResultsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOutputResultsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetOutputResultsInfo" />
  </wsdl:message>
  <wsdl:message name="GetOutputResultsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetOutputResultsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetOutputResultBinaryFileStreamSoapIn">
    <wsdl:part name="parameters" element="tns:GetOutputResultBinaryFileStream" />
  </wsdl:message>
  <wsdl:message name="GetOutputResultBinaryFileStreamSoapOut">
    <wsdl:part name="parameters" element="tns:GetOutputResultBinaryFileStreamResponse" />
  </wsdl:message>
  <wsdl:message name="GetOutputResultBinaryFileStreamChunkSoapIn">
    <wsdl:part name="parameters" element="tns:GetOutputResultBinaryFileStreamChunk" />
  </wsdl:message>
  <wsdl:message name="GetOutputResultBinaryFileStreamChunkSoapOut">
    <wsdl:part name="parameters" element="tns:GetOutputResultBinaryFileStreamChunkResponse" />
  </wsdl:message>
  <wsdl:message name="GetOutputResultBinaryFileStreamSizeSoapIn">
    <wsdl:part name="parameters" element="tns:GetOutputResultBinaryFileStreamSize" />
  </wsdl:message>
  <wsdl:message name="GetOutputResultBinaryFileStreamSizeSoapOut">
    <wsdl:part name="parameters" element="tns:GetOutputResultBinaryFileStreamSizeResponse" />
  </wsdl:message>
  <wsdl:message name="GetOutputResultDownloadURLSoapIn">
    <wsdl:part name="parameters" element="tns:GetOutputResultDownloadURL" />
  </wsdl:message>
  <wsdl:message name="GetOutputResultDownloadURLSoapOut">
    <wsdl:part name="parameters" element="tns:GetOutputResultDownloadURLResponse" />
  </wsdl:message>
  <wsdl:message name="GetPropertySoapIn">
    <wsdl:part name="parameters" element="tns:GetProperty" />
  </wsdl:message>
  <wsdl:message name="GetPropertySoapOut">
    <wsdl:part name="parameters" element="tns:GetPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="GetPropertiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetProperties" />
  </wsdl:message>
  <wsdl:message name="GetPropertiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPropertiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllProperties" />
  </wsdl:message>
  <wsdl:message name="GetAllPropertiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSet" />
  </wsdl:message>
  <wsdl:message name="GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetXMPTblDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetXMPTblDataSet" />
  </wsdl:message>
  <wsdl:message name="GetXMPTblDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetXMPTblDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="SetPropertySoapIn">
    <wsdl:part name="parameters" element="tns:SetProperty" />
  </wsdl:message>
  <wsdl:message name="SetPropertySoapOut">
    <wsdl:part name="parameters" element="tns:SetPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="SetPropertiesSoapIn">
    <wsdl:part name="parameters" element="tns:SetProperties" />
  </wsdl:message>
  <wsdl:message name="SetPropertiesSoapOut">
    <wsdl:part name="parameters" element="tns:SetPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="AbortSoapIn">
    <wsdl:part name="parameters" element="tns:Abort" />
  </wsdl:message>
  <wsdl:message name="AbortSoapOut">
    <wsdl:part name="parameters" element="tns:AbortResponse" />
  </wsdl:message>
  <wsdl:message name="ReQueueSoapIn">
    <wsdl:part name="parameters" element="tns:ReQueue" />
  </wsdl:message>
  <wsdl:message name="ReQueueSoapOut">
    <wsdl:part name="parameters" element="tns:ReQueueResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="GetStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SetProgressStatusSoapIn">
    <wsdl:part name="parameters" element="tns:SetProgressStatus" />
  </wsdl:message>
  <wsdl:message name="SetProgressStatusSoapOut">
    <wsdl:part name="parameters" element="tns:SetProgressStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetTicketSoapIn">
    <wsdl:part name="parameters" element="tns:GetTicket" />
  </wsdl:message>
  <wsdl:message name="GetTicketSoapOut">
    <wsdl:part name="parameters" element="tns:GetTicketResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="GetMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessagesDataSet" />
  </wsdl:message>
  <wsdl:message name="GetMessagesDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesXMPTblDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessagesXMPTblDataSet" />
  </wsdl:message>
  <wsdl:message name="GetMessagesXMPTblDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesXMPTblDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesNumSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessagesNum" />
  </wsdl:message>
  <wsdl:message name="GetMessagesNumSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesNumResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesHighestSeveritySoapIn">
    <wsdl:part name="parameters" element="tns:GetMessagesHighestSeverity" />
  </wsdl:message>
  <wsdl:message name="GetMessagesHighestSeveritySoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesHighestSeverityResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMessages" />
  </wsdl:message>
  <wsdl:message name="DeleteMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCampaignShortcutInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCampaignShortcutInfo" />
  </wsdl:message>
  <wsdl:message name="GetCampaignShortcutInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCampaignShortcutInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetTouchPointSoapIn">
    <wsdl:part name="parameters" element="tns:GetTouchPoint" />
  </wsdl:message>
  <wsdl:message name="GetTouchPointSoapOut">
    <wsdl:part name="parameters" element="tns:GetTouchPointResponse" />
  </wsdl:message>
  <wsdl:message name="SetTouchPointSoapIn">
    <wsdl:part name="parameters" element="tns:SetTouchPoint" />
  </wsdl:message>
  <wsdl:message name="SetTouchPointSoapOut">
    <wsdl:part name="parameters" element="tns:SetTouchPointResponse" />
  </wsdl:message>
  <wsdl:message name="IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:IsExist" />
  </wsdl:message>
  <wsdl:message name="IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:IsExistResponse" />
  </wsdl:message>
  <wsdl:portType name="Job_SSPSoap">
    <wsdl:operation name="GetFolderPath">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Folder Path.</wsdl:documentation>
      <wsdl:input message="tns:GetFolderPathSoapIn" />
      <wsdl:output message="tns:GetFolderPathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOutputResults">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Output Results.</wsdl:documentation>
      <wsdl:input message="tns:GetOutputResultsSoapIn" />
      <wsdl:output message="tns:GetOutputResultsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFileToOutputResults">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a File to the Output Results.</wsdl:documentation>
      <wsdl:input message="tns:AddFileToOutputResultsSoapIn" />
      <wsdl:output message="tns:AddFileToOutputResultsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFilesToOutputResults">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Files to the Output Results.</wsdl:documentation>
      <wsdl:input message="tns:AddFilesToOutputResultsSoapIn" />
      <wsdl:output message="tns:AddFilesToOutputResultsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOutputResults">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete Output Results.</wsdl:documentation>
      <wsdl:input message="tns:DeleteOutputResultsSoapIn" />
      <wsdl:output message="tns:DeleteOutputResultsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultsInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Output Results info.</wsdl:documentation>
      <wsdl:input message="tns:GetOutputResultsInfoSoapIn" />
      <wsdl:output message="tns:GetOutputResultsInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultBinaryFileStream">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return the output result stream.</wsdl:documentation>
      <wsdl:input message="tns:GetOutputResultBinaryFileStreamSoapIn" />
      <wsdl:output message="tns:GetOutputResultBinaryFileStreamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultBinaryFileStreamChunk">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return an output result chunk stream.</wsdl:documentation>
      <wsdl:input message="tns:GetOutputResultBinaryFileStreamChunkSoapIn" />
      <wsdl:output message="tns:GetOutputResultBinaryFileStreamChunkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultBinaryFileStreamSize">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get output result size.</wsdl:documentation>
      <wsdl:input message="tns:GetOutputResultBinaryFileStreamSizeSoapIn" />
      <wsdl:output message="tns:GetOutputResultBinaryFileStreamSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultDownloadURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return the output result download url.</wsdl:documentation>
      <wsdl:input message="tns:GetOutputResultDownloadURLSoapIn" />
      <wsdl:output message="tns:GetOutputResultDownloadURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get property by name.</wsdl:documentation>
      <wsdl:input message="tns:GetPropertySoapIn" />
      <wsdl:output message="tns:GetPropertySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProperties">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get properties.</wsdl:documentation>
      <wsdl:input message="tns:GetPropertiesSoapIn" />
      <wsdl:output message="tns:GetPropertiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProperties">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all properties.</wsdl:documentation>
      <wsdl:input message="tns:GetAllPropertiesSoapIn" />
      <wsdl:output message="tns:GetAllPropertiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get properties view.</wsdl:documentation>
      <wsdl:input message="tns:GetDataSetSoapIn" />
      <wsdl:output message="tns:GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXMPTblDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get properties view.</wsdl:documentation>
      <wsdl:input message="tns:GetXMPTblDataSetSoapIn" />
      <wsdl:output message="tns:GetXMPTblDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetProperty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set property.</wsdl:documentation>
      <wsdl:input message="tns:SetPropertySoapIn" />
      <wsdl:output message="tns:SetPropertySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetProperties">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set properties.</wsdl:documentation>
      <wsdl:input message="tns:SetPropertiesSoapIn" />
      <wsdl:output message="tns:SetPropertiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Abort">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Abort Job.</wsdl:documentation>
      <wsdl:input message="tns:AbortSoapIn" />
      <wsdl:output message="tns:AbortSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReQueue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Re queue Job if not handled yet (still waiting for processing), making it the last in queue (according to priority).</wsdl:documentation>
      <wsdl:input message="tns:ReQueueSoapIn" />
      <wsdl:output message="tns:ReQueueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete Job.</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Job's status.</wsdl:documentation>
      <wsdl:input message="tns:GetStatusSoapIn" />
      <wsdl:output message="tns:GetStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetProgressStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set Job's progress, for internal use only.</wsdl:documentation>
      <wsdl:input message="tns:SetProgressStatusSoapIn" />
      <wsdl:output message="tns:SetProgressStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Job ticket.</wsdl:documentation>
      <wsdl:input message="tns:GetTicketSoapIn" />
      <wsdl:output message="tns:GetTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Job's Messages.</wsdl:documentation>
      <wsdl:input message="tns:GetMessagesSoapIn" />
      <wsdl:output message="tns:GetMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Messages view.</wsdl:documentation>
      <wsdl:input message="tns:GetMessagesDataSetSoapIn" />
      <wsdl:output message="tns:GetMessagesDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesXMPTblDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Messages view.</wsdl:documentation>
      <wsdl:input message="tns:GetMessagesXMPTblDataSetSoapIn" />
      <wsdl:output message="tns:GetMessagesXMPTblDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesNum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Messages Number by job ID.</wsdl:documentation>
      <wsdl:input message="tns:GetMessagesNumSoapIn" />
      <wsdl:output message="tns:GetMessagesNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesHighestSeverity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the highest severity of the messages by job ID.</wsdl:documentation>
      <wsdl:input message="tns:GetMessagesHighestSeveritySoapIn" />
      <wsdl:output message="tns:GetMessagesHighestSeveritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMessages">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete Messages.</wsdl:documentation>
      <wsdl:input message="tns:DeleteMessagesSoapIn" />
      <wsdl:output message="tns:DeleteMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCampaignShortcutInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get campaign shortcut info for job.</wsdl:documentation>
      <wsdl:input message="tns:GetCampaignShortcutInfoSoapIn" />
      <wsdl:output message="tns:GetCampaignShortcutInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTouchPoint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get touch point ID.</wsdl:documentation>
      <wsdl:input message="tns:GetTouchPointSoapIn" />
      <wsdl:output message="tns:GetTouchPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTouchPoint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set touch point ID.</wsdl:documentation>
      <wsdl:input message="tns:SetTouchPointSoapIn" />
      <wsdl:output message="tns:SetTouchPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsExist">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Job exist.</wsdl:documentation>
      <wsdl:input message="tns:IsExistSoapIn" />
      <wsdl:output message="tns:IsExistSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Job_SSPSoap" type="tns:Job_SSPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFolderPath">
      <soap:operation soapAction="XMPieWSAPI/GetFolderPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputResults">
      <soap:operation soapAction="XMPieWSAPI/GetOutputResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFileToOutputResults">
      <soap:operation soapAction="XMPieWSAPI/AddFileToOutputResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFilesToOutputResults">
      <soap:operation soapAction="XMPieWSAPI/AddFilesToOutputResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOutputResults">
      <soap:operation soapAction="XMPieWSAPI/DeleteOutputResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultsInfo">
      <soap:operation soapAction="XMPieWSAPI/GetOutputResultsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultBinaryFileStream">
      <soap:operation soapAction="XMPieWSAPI/GetOutputResultBinaryFileStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultBinaryFileStreamChunk">
      <soap:operation soapAction="XMPieWSAPI/GetOutputResultBinaryFileStreamChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultBinaryFileStreamSize">
      <soap:operation soapAction="XMPieWSAPI/GetOutputResultBinaryFileStreamSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultDownloadURL">
      <soap:operation soapAction="XMPieWSAPI/GetOutputResultDownloadURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <soap:operation soapAction="XMPieWSAPI/GetProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProperties">
      <soap:operation soapAction="XMPieWSAPI/GetProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProperties">
      <soap:operation soapAction="XMPieWSAPI/GetAllProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <soap:operation soapAction="XMPieWSAPI/GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXMPTblDataSet">
      <soap:operation soapAction="XMPieWSAPI/GetXMPTblDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProperty">
      <soap:operation soapAction="XMPieWSAPI/SetProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProperties">
      <soap:operation soapAction="XMPieWSAPI/SetProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Abort">
      <soap:operation soapAction="XMPieWSAPI/Abort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReQueue">
      <soap:operation soapAction="XMPieWSAPI/ReQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="XMPieWSAPI/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="XMPieWSAPI/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProgressStatus">
      <soap:operation soapAction="XMPieWSAPI/SetProgressStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <soap:operation soapAction="XMPieWSAPI/GetTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="XMPieWSAPI/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDataSet">
      <soap:operation soapAction="XMPieWSAPI/GetMessagesDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesXMPTblDataSet">
      <soap:operation soapAction="XMPieWSAPI/GetMessagesXMPTblDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesNum">
      <soap:operation soapAction="XMPieWSAPI/GetMessagesNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesHighestSeverity">
      <soap:operation soapAction="XMPieWSAPI/GetMessagesHighestSeverity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessages">
      <soap:operation soapAction="XMPieWSAPI/DeleteMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignShortcutInfo">
      <soap:operation soapAction="XMPieWSAPI/GetCampaignShortcutInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTouchPoint">
      <soap:operation soapAction="XMPieWSAPI/GetTouchPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTouchPoint">
      <soap:operation soapAction="XMPieWSAPI/SetTouchPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExist">
      <soap:operation soapAction="XMPieWSAPI/IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Job_SSPSoap12" type="tns:Job_SSPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFolderPath">
      <soap12:operation soapAction="XMPieWSAPI/GetFolderPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputResults">
      <soap12:operation soapAction="XMPieWSAPI/GetOutputResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFileToOutputResults">
      <soap12:operation soapAction="XMPieWSAPI/AddFileToOutputResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFilesToOutputResults">
      <soap12:operation soapAction="XMPieWSAPI/AddFilesToOutputResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOutputResults">
      <soap12:operation soapAction="XMPieWSAPI/DeleteOutputResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultsInfo">
      <soap12:operation soapAction="XMPieWSAPI/GetOutputResultsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultBinaryFileStream">
      <soap12:operation soapAction="XMPieWSAPI/GetOutputResultBinaryFileStream" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultBinaryFileStreamChunk">
      <soap12:operation soapAction="XMPieWSAPI/GetOutputResultBinaryFileStreamChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultBinaryFileStreamSize">
      <soap12:operation soapAction="XMPieWSAPI/GetOutputResultBinaryFileStreamSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputResultDownloadURL">
      <soap12:operation soapAction="XMPieWSAPI/GetOutputResultDownloadURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <soap12:operation soapAction="XMPieWSAPI/GetProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProperties">
      <soap12:operation soapAction="XMPieWSAPI/GetProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProperties">
      <soap12:operation soapAction="XMPieWSAPI/GetAllProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <soap12:operation soapAction="XMPieWSAPI/GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXMPTblDataSet">
      <soap12:operation soapAction="XMPieWSAPI/GetXMPTblDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProperty">
      <soap12:operation soapAction="XMPieWSAPI/SetProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProperties">
      <soap12:operation soapAction="XMPieWSAPI/SetProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Abort">
      <soap12:operation soapAction="XMPieWSAPI/Abort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReQueue">
      <soap12:operation soapAction="XMPieWSAPI/ReQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="XMPieWSAPI/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="XMPieWSAPI/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProgressStatus">
      <soap12:operation soapAction="XMPieWSAPI/SetProgressStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <soap12:operation soapAction="XMPieWSAPI/GetTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap12:operation soapAction="XMPieWSAPI/GetMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDataSet">
      <soap12:operation soapAction="XMPieWSAPI/GetMessagesDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesXMPTblDataSet">
      <soap12:operation soapAction="XMPieWSAPI/GetMessagesXMPTblDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesNum">
      <soap12:operation soapAction="XMPieWSAPI/GetMessagesNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesHighestSeverity">
      <soap12:operation soapAction="XMPieWSAPI/GetMessagesHighestSeverity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessages">
      <soap12:operation soapAction="XMPieWSAPI/DeleteMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignShortcutInfo">
      <soap12:operation soapAction="XMPieWSAPI/GetCampaignShortcutInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTouchPoint">
      <soap12:operation soapAction="XMPieWSAPI/GetTouchPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTouchPoint">
      <soap12:operation soapAction="XMPieWSAPI/SetTouchPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExist">
      <soap12:operation soapAction="XMPieWSAPI/IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Job_SSP">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Job Web Service.</wsdl:documentation>
    <wsdl:port name="Job_SSPSoap" binding="tns:Job_SSPSoap">
      <soap:address location="http://uimeapp0003/xmpiewsapi/Job_SSP.asmx" />
    </wsdl:port>
    <wsdl:port name="Job_SSPSoap12" binding="tns:Job_SSPSoap12">
      <soap12:address location="http://uimeapp0003/xmpiewsapi/Job_SSP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>